    <header>
      <nav>
        <div class="logo">
          <a href="/"><img src="/uploads/images/gd-favicon.svg" /></a>
        </div>
        <div class="icon">
          <span class="toggle">☰</span>
        </div>
        <ul class="list-item">
          <li><a href="#">Home</a></li>
          <li><a href="/exam-xray">Exam X-ray</a></li>
          <li><a href="/hygiene-treatment">Hygiene</a></li>
          <li><a href="periodontal-treatment">Periodontal</a></li>
          <li><a href="/childrens-dentistry">Childrens</a></li>
          <li><a href="/emergency-dentist">Emergency</a></li>
        </ul>
      </nav>
    </header>