    <header>
      <nav>
        <div class="logo">
          <a href="/"><img src="/uploads/images/gd-favicon.svg" /></a>
        </div>
        <div class="icon">
          <span class="toggle">☰</span>
        </div>
        <ul class="list-item">
          <li><a href="#">Home</a></li>
          <li><a href="/exam-xray">Exam X-ray</a></li>
          <li><a href="/hygiene-treatment">Hygiene</a></li>
          <li><a href="periodontal-treatment">Periodontal</a></li>
          <li><a href="/childrens-dentistry">Childrens</a></li>
          <li><a href="/emergency-dentist">Emergency</a></li>

          <li><a href="#">Home</a></li>
          <li><a href="#">Home</a></li>

          <li><a href="/dental-crowns">Crowns</a></li>
          <li><a href="/dental-bridges">Bridges</a></li>
          <li><a href="/dental-implants">Dental Implants</a></li>

          <li><a href="#">Home</a></li>
          <li><a href="#">Home</a></li>

          <li><a href="/extractions-wisdom-teeth">Extraction</a></li>
          <li><a href="/dentures">Dentures</a></li>
          <li><a href="/cosmetic-dentistry">Cosmetic</a></li>
          <li><a href="/veneers">Veneers</a></li>
          <li><a href="/teeth-whitening">Whitening</a></li>
          <li><a href="/amalgam-removal">Amalgam</a></li>
        </ul>
      </nav>
    </header>