<div class="dark pad-all style-five bg-800">
  <div class="underlined-heading">
    {% if entry.whatToExpectTitle %}
      <h2 class="max-60">{{entry.whatToExpectTitle}}</h2>
    {% endif %}
  </div>

  <div class="flex-wrap">
    <div class=" half flex-wrap wrap num-point {% block class %}  {% endblock %}">
      {% for block in entry.styleSevenMatrix %}
        {% if block.type == 'informationPoints' %}
          <div>
            {% set indexDisplay = loop.index < 10 ? '0' ~ loop.index : loop.index %}
            <p class="num-heading">{{ indexDisplay }} <span>{{block.informationTitle}}</span></p>
            {% if block.information %}
              {{block.information}}
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>