$header-font: 'Recoleta', sans-serif;
$body-font: 'Sweet Sans Pro', sans-serif;

$xs:20px;
$sm:40px;
$md:3vw;
$base:6vw;
$lg:8vw;
$xlg:14vw;
$xxl:20vw;


$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 100em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi)";

// Font-Size
$base-font-size: 1em;

// Line-Height
$base-line-height: 1.5;
$header-line-height: .95;

// Spacing
$base-spacing: $base-font-size;


$white:#fff;

$base-font-color: #374151;
$light-font-color: #D1D5DB;

$base-accent-color: #2cdcac;

$accent-50:#EBF5FF;
$accent-100:#F9FAFB;
$accent-300:#a4cafe;
$accent-500:#3f83f8;
$accent-700:#1a56db;
$accent-800:#1e429f;
$accent-900:#233876;


// Transition Settings
$base-transition-duration: .3s;
$base-transition-timing: ease-in-out;

// Backgrounds
$base-background-color: $accent-900;

$shadow:0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.16);
$text-shadow: 2px 2px 10px rgba(0,0,0,0.25);
$drop-shadow:drop-shadow( 3px 3px 8px rgba(0, 0, 0, .30));