@import 'variables';
@import 'mixins';

@import url('https://fonts.cdnfonts.com/css/sweet-sans-pro');
@import url('https://fonts.cdnfonts.com/css/recoleta');

*,
*::before {
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100%;
  margin: 0;
  overflow-x: hidden; 
  background-color: $base-background-color;
	color: $base-font-color;
  font-family: $body-font;
  font-weight: 400;
  font-size: $base-font-size;
  line-height: $base-line-height;
  @media #{$mq-xxlarge} {
    font-size: $base-font-size*2;
  }
}



::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.overflow-wrapper{
	overflow-x: hidden;
	overflow-y:hidden;
}

a {
  color: $base-accent-color;
  transition: color $base-transition-duration $base-transition-timing;
  text-decoration: none;
  white-space: nowrap;
  &:hover,
  &:focus {
    color: darken($base-accent-color, 10%);
  }
}

ul {
  padding: 0;
  list-style: none;
}

/**
 * decorations
 */


 .bttn {
  display: flex;
  margin-top: 50px;
  a{
    padding: $base-font-size*.7 $base-font-size*1.2;
    display: flex;
    background-color: $base-accent-color;
    align-items: center;
    font-family: $header-font;
    border-radius: $base;
    p{
      color:$accent-900;
      font-weight:500;
      line-height: 1em;
      margin-right: $base-font-size*0.8;
      margin-bottom: 0;
      
    }
    svg{
      fill:$accent-900;
      transform: rotate(45deg);
      width: $base-font-size*1.2;
    }
  }
}

.underlined-heading{
  padding-bottom:$sm;
  border-bottom:1px solid $accent-800;
  @media #{$mq-medium} {
    padding-bottom:4vw
  }
}

.bg-100 .underlined-heading{
  border-bottom:1px solid $accent-300;
}

/**
 * Typography
 */



 p {
  margin: 0 0 $base-spacing;

}

.intro p{
  font-size: calc($base-font-size*1.2);
  line-height: 1.25;
  margin-top:$sm;
  font-weight:500;
  @media #{$mq-xxlarge} {
    margin-top:$md;
  }
}

.text-center{
  text-align: center;
  p{
    @media #{$mq-medium} {
      max-width:55vw;
    }
  }
}


h1,h2,h3,h4,h5,h6 {
	line-height: $header-line-height;
  font-family: $header-font;
  margin: 0;
  font-weight: 400;
  color:$accent-900;
}
.dark{
  h1,h2,h3,h4,h5,h6{
    color:$white
  }
  p{
    color:$light-font-color;
  }
}

h1{font-size: calc($base-font-size*2.8); margin-bottom:$sm}
h2{font-size: calc($base-font-size*2.4);}
h3{font-size: calc($base-font-size*1.8);}


@media #{$mq-small} {
  h1{font-size: 7.5vw; }
  h2{font-size: 6.8vw;}
  h3{font-size: 4vw;}
}
@media #{$mq-medium} {
  h1{font-size: 5.7vw; }
  h2{font-size: 4.7vw;}
  h3{font-size: 2.2vw;}
}

/**
 * bg colors
 */


.bg-900{background-color: $accent-900;}
.bg-800{background-color: $accent-800;}
.bg-700{background-color: $accent-700;}
.bg-500{background-color: $accent-500;}
.bg-300{background-color: $accent-300;}
.bg-100{background-color: $accent-100;}
.bg-50{background-color: $accent-50;}
 


/**
 * image related
 */
img {
  width:100%;
  max-width: 100%;
}

.bg-img-svg{
  width:100%;
  @include bg-img-pos( 100% 80%, 150%);
  @media #{$mq-medium} {
    @include bg-img-pos(100% 50%, contain);
  }
}

.sm-bg-img-svg{
  width:100%;
  @include bg-img-pos(50% 50%, 100%);
}


.bg-img-svg{
  width:100%;
  @include bg-img(url("xx.jpg"),50% 50%, 100%);
}

svg {
  overflow: visible !important;
}





/**
 * width, padding and wrappers
 */

.max-60{
  @media #{$mq-medium} {
    max-width:60%
  }
}




.pad-all{
  padding:$base;
}

.pad-sides{
  padding-left:$base;
  padding-right:$base;
  @media #{$mq-medium} {

    &.no-left{
      padding-left:0
    }
    &.no-right{
      padding-right:0
    }
  }
}

.pad-top{
  padding-top: $base;

}

.pad-btm{
  padding-bottom: $base;

}




/**
 * flex
 */
.flex-wrap{
  display: flex;
  flex-direction:column;
  &.wrap{
    flex-wrap: wrap;
    flex-direction:row;
  }
  @media #{$mq-medium} {
    .half{
      flex:1;
      flex-basis: 50%;
      &.grow-vis{
        flex-basis: 65%;
      }
    }
    flex-direction:row;
  }
}





.img-align-item-center,
.cont-align-end,
.just-cont-center,
.just-cont-between,
.align-items-center,
.img-align-end{
  display: flex;
  
}

.img-align-end{
  align-items: flex-end;
}

.img-align-item-center{
  align-items: center;
}

.cont-align-end{
  flex-direction: column;
  justify-content: flex-end;
}

.just-cont-between{
  flex-direction: column;
  justify-content: space-between;
}
.just-cont-center{
  flex-direction: column;
  justify-content: center;
}

.align-items-center{
  flex-direction: column;
  align-items: center;
  width: 100%;
}

////navigation
nav {
  position: fixed;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  .icon{
    flex:1;
    width: 100%;
    .toggle {
      float: right;
      margin: 20px;
      color: #222;
      font-size: 30px;
      padding: 0px 5px;
      border-radius: 4px;
      cursor: pointer;
    }
  }
  .list-item {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    top: -4px;
    display: none;
    padding-bottom: 20px;
    li{
      padding: 10px;
      margin-right: 20px;
      text-align: center;
      display: block;
      float: none;
      a{
        color:#222;
        &:hover{
          color:red;
        }
      }
    }
  }

  @media (min-width: 992px) {
    flex-wrap: nowrap;
    .icon {
      display: none;
    }
    .list-item {
      display: flex;
      justify-content: flex-end;
      padding-bottom: 0;
    }
  }
}



///pages and sty;es


//style block 5
.style-five{
  > .flex-wrap{
    @media #{$mq-medium}{
      padding-top:4%;
      padding-bottom:2%;
    }
  }
  .max-img-one{
    padding-left:0;
    padding-right:0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    @media #{$mq-medium} {
      padding-left:4%;
      padding-right:4%;
      img{
        max-width:35vw
      }

    }
  }
}



// styles five
.num-point{
  padding-top:$lg;
  @media #{$mq-medium}{
    padding-top:0;
  }

  div{
    width:100%;
    padding:$base-font-size*2.4;

    padding-top: 0;
    @media #{$mq-small}{
      width:50%;
    }
    @media #{$mq-xxlarge}{
      padding:$base-font-size*1.5;
    }
  }

  .num-heading{
    line-height: 1;
    color: $base-accent-color;
    font-size: $base-font-size*2;
    font-family: $header-font;
    margin-bottom: $base-font-size*0.8;
  }

  &.w-33{
    div{
      @media #{$mq-figma}{
        width:33.333%;
      }
    }
  }
}

//style block 2
.style-two{
  .flex-wrap{
    flex-direction: column-reverse;
    @media #{$mq-medium} {
      flex-direction:row;
      }
  }
  .flex-wrap:nth-of-type(2){
    @media #{$mq-medium} {
    flex-direction:row-reverse;
    }
  }
}


//style block 3
.style-three{
.img-align-end{
  padding-left:4%;
    @media #{$mq-medium} {
      padding-left:0
    }
  }
}

//faqs
.faq-wrapper{
  padding-top:$base-font-size;
  @media #{$mq-medium}{
    padding-left:20vw;
  }

  .accordion-item {
    border-bottom: 1px solid $accent-300;
    &:last-of-type{
      border-width: 0;
    }
  }

  .question {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: $base-font-size;
    margin-bottom: $base-font-size;
 
    span{
      margin-left:$base-font-size;
      background-color: $base-accent-color;
      padding: 10px;
      display: flex;
      border-radius: 100%;
    }
    svg{
      transition: all 0.3s ease-in;
      stroke:#fff;
      width:20px;
      height:20px
    }
  }
  
  .answer {
    display: none;
    overflow: hidden;
    margin-bottom: $base-font-size;
    padding-right:$base;
  }
  
  .open {
    .question{
      svg{
          transform:rotate(-180deg);
        }
    }
  }
}

//page specific
.periodontal{
  .style-three{
    flex-direction: column-reverse;
    @media #{$mq-medium} {
      flex-direction: row;
    }
  }
}

//page specific
.emergency{
  .max-60{
    max-width:100%
  }
}
