@font-face {
  font-family: "Recoleta";
  src: url("../fonts/recoleta-regular-webfont.woff2") format("woff2"), url("../fonts/recoleta-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sweet Sans Pro";
  src: url("../fonts/sweetsanspro-regular-webfont.woff2") format("woff2"), url("../fonts/sweetsanspro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
*,
*::before {
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color: #233876;
  color: #374151;
  font-family: "Sweet Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
}
@media (min-width: 160em) {
  body {
    font-size: 2em;
  }
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.overflow-wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  color: #2cdcac;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
  white-space: nowrap;
}
a:hover, a:focus {
  color: #1eb78d;
}

ul {
  padding: 0;
  list-style: none;
}

/**
 * decorations
 */
.bttn {
  display: flex;
  margin-top: 50px;
}
.bttn a {
  padding: 0.7em 1.2em;
  display: flex;
  background-color: #2cdcac;
  align-items: center;
  font-family: "Recoleta", sans-serif;
  border-radius: 6vw;
}
.bttn a p {
  color: #233876;
  font-weight: 500;
  line-height: 1em;
  margin-right: 0.8em;
  margin-bottom: 0;
}
.bttn a svg {
  fill: #233876;
  transform: rotate(45deg);
  width: 1.2em;
}

.underlined-heading {
  padding-bottom: 40px;
  border-bottom: 1px solid #1e429f;
}
@media (min-width: 64em) {
  .underlined-heading {
    padding-bottom: 4vw;
  }
}

.bg-100 .underlined-heading {
  border-bottom: 1px solid #a4cafe;
}

/**
 * Typography
 */
p {
  margin: 0 0 1em;
}

.intro p {
  font-size: 1.2em;
  line-height: 1.25;
  margin-top: 40px;
  font-weight: 500;
}
@media (min-width: 160em) {
  .intro p {
    margin-top: 3vw;
  }
}

.text-center {
  text-align: center;
}
@media (min-width: 64em) {
  .text-center p {
    max-width: 55vw;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 0.95;
  font-family: "Recoleta", sans-serif;
  margin: 0;
  font-weight: 400;
  color: #233876;
}

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
  color: #fff;
}
.dark p {
  color: #D1D5DB;
}

h1 {
  font-size: 2.8em;
  margin-bottom: 40px;
}

h2 {
  font-size: 2.4em;
}

h3 {
  font-size: 1.8em;
}

@media (min-width: 48em) {
  h1 {
    font-size: 7.5vw;
  }
  h2 {
    font-size: 6.8vw;
  }
  h3 {
    font-size: 4vw;
  }
}
@media (min-width: 64em) {
  h1 {
    font-size: 5.7vw;
  }
  h2 {
    font-size: 4.7vw;
  }
  h3 {
    font-size: 2.2vw;
  }
}
/**
 * bg colors
 */
.bg-900 {
  background-color: #233876;
}

.bg-800 {
  background-color: #1e429f;
}

.bg-700 {
  background-color: #1a56db;
}

.bg-500 {
  background-color: #3f83f8;
}

.bg-300 {
  background-color: #a4cafe;
}

.bg-200 {
  background-color: #C3DDFD;
}

.bg-100 {
  background-color: #F9FAFB;
}

.bg-50 {
  background-color: #EBF5FF;
}

/**
 * image related
 */
img {
  width: 100%;
  max-width: 100%;
}

.bg-img-svg {
  width: 100%;
  background-repeat: no-repeat;
  background-position: 100% 80%;
  background-size: 150%;
}
@media (min-width: 64em) {
  .bg-img-svg {
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: contain;
  }
}

.sm-bg-img-svg {
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
}

.bg-img-svg {
  width: 100%;
  background-image: url("xx.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
}

svg {
  overflow: visible !important;
  z-index: 1;
}

/**
 * width, padding and wrappers
 */
@media (min-width: 64em) {
  .max-60 {
    max-width: 60%;
  }
}

.max-60-img img {
  max-width: 60%;
}

.pad-all {
  padding: 6vw;
}

.pad-sides {
  padding-left: 6vw;
  padding-right: 6vw;
}
@media (min-width: 64em) {
  .pad-sides.no-left {
    padding-left: 0;
  }
  .pad-sides.no-right {
    padding-right: 0;
  }
}

.pad-top {
  padding-top: 6vw;
}

.pad-btm {
  padding-bottom: 6vw;
}

/**
 * flex
 */
.flex-wrap {
  display: flex;
  flex-direction: column;
}
.flex-wrap.wrap {
  flex-wrap: wrap;
  flex-direction: row;
}
@media (min-width: 64em) {
  .flex-wrap {
    flex-direction: row;
  }
  .flex-wrap .half {
    flex: 1;
    flex-basis: 50%;
  }
  .flex-wrap .half.grow-vis {
    flex-basis: 65%;
  }
  .flex-wrap .third {
    flex: 1;
    flex-basis: 33.33%;
  }
}

.cont-just-end,
.just-cont-center-row,
.img-align-item-center,
.cont-align-end,
.just-cont-center,
.just-cont-between,
.align-items-center,
.img-align-end {
  display: flex;
}

.img-align-end {
  align-items: flex-end;
}

.img-align-item-center {
  align-items: center;
}

.cont-align-end {
  flex-direction: column;
  justify-content: flex-end;
}

.cont-just-end {
  justify-content: flex-end;
}

.just-cont-between {
  flex-direction: column;
  justify-content: space-between;
}

.just-cont-center {
  flex-direction: column;
  justify-content: center;
}

.just-cont-center-row {
  justify-content: center;
}

.align-items-center {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header {
  position: relative;
  z-index: 5;
}

nav {
  position: fixed;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
nav .icon {
  flex: 1;
  width: 100%;
}
nav .icon .toggle {
  float: right;
  margin: 20px;
  color: #222;
  font-size: 30px;
  padding: 0px 5px;
  border-radius: 4px;
  cursor: pointer;
}
nav .list-item {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  top: -4px;
  display: none;
  padding-bottom: 20px;
}
nav .list-item li {
  padding: 10px;
  margin-right: 20px;
  text-align: center;
  display: block;
  float: none;
  position: relative;
}
@media (min-width: 64em) {
  nav .list-item li {
    position: unset;
  }
}
nav .list-item li a {
  color: #222;
}
nav .list-item li a:hover {
  color: red;
}
nav .list-item li .dropdown-nav {
  display: none;
  width: 100%;
  background-color: #fff;
  position: relative;
  left: 0;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 64em) {
  nav .list-item li .dropdown-nav {
    position: absolute;
  }
}
@media (min-width: 992px) {
  nav {
    flex-wrap: nowrap;
  }
  nav .icon {
    display: none;
  }
  nav .list-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 0;
  }
}

.swiper {
  width: 100%;
}

.slider-one .swiper-button-prev, .slider-one .swiper-button-next {
  top: calc(100% - 30px);
}
.slider-one .swiper-slide h3 {
  margin-bottom: 1em;
}
.slider-one .swiper-slide img {
  max-width: 50%;
}
.slider-one .swiper-slide .info-points {
  height: 100%;
}
@media (min-width: 64em) {
  .slider-one .swiper-slide .info-points {
    border-right: 1px solid #233876;
  }
}

.style-five.pad-all {
  padding-bottom: 4vw;
}
@media (min-width: 64em) {
  .style-five > .flex-wrap {
    padding-top: 4%;
  }
}
.style-five .max-img-one {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
@media (min-width: 64em) {
  .style-five .max-img-one {
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
  }
  .style-five .max-img-one img {
    max-width: 35vw;
  }
}

.num-point {
  padding-top: 8vw;
}
@media (min-width: 64em) {
  .num-point {
    padding-top: 0;
  }
  .num-point.half {
    flex-basis: 40%;
  }
}
.num-point div {
  width: 100%;
  padding: 2.4em;
  padding-top: 0;
}
@media (min-width: 48em) {
  .num-point div {
    width: 50%;
  }
}
@media (min-width: 64em) {
  .num-point div {
    padding-right: 0;
  }
}
@media (min-width: 160em) {
  .num-point div {
    padding: 1.5em;
  }
}
.num-point .num-heading {
  line-height: 1;
  color: #2cdcac;
  font-size: 2em;
  font-family: "Recoleta", sans-serif;
  margin-bottom: 0.8em;
}
.num-point .num-heading span {
  color: #fff;
}
@media (min-width: 64em) {
  .num-point.w-33.half {
    flex-basis: 50%;
  }
}
@media (min-width: 94em) {
  .num-point.w-33 div {
    width: 33.333%;
  }
}
@media (min-width: 48em) {
  .num-point.side-border div {
    border-right: 1px solid #1a56db;
    padding-right: 2.4em;
    margin-bottom: 4em;
    padding-bottom: 0;
  }
  .num-point.side-border div:nth-of-type(even) {
    border-right-width: 0;
  }
}
@media (min-width: 64em) {
  .num-point.side-border div {
    width: 33.333%;
  }
  .num-point.side-border div:nth-of-type(even) {
    border-right-width: 1px;
  }
  .num-point.side-border div:nth-of-type(3n) {
    border-right-width: 0;
  }
}

.style-two .flex-wrap {
  flex-direction: column-reverse;
}
@media (min-width: 64em) {
  .style-two .flex-wrap {
    flex-direction: row;
  }
}
@media (min-width: 64em) {
  .style-two .flex-wrap:nth-of-type(2) {
    flex-direction: row-reverse;
  }
}

.style-three .img-align-end {
  padding-left: 4%;
}
@media (min-width: 64em) {
  .style-three .img-align-end {
    padding-left: 0;
  }
}

.style-six .intro p {
  margin-top: 0;
}
@media (min-width: 48em) {
  .style-six .visual {
    display: flex;
    flex-direction: row;
  }
}
.style-six .visual .img-style-one {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 64em) {
  .style-six .visual .img-style-one {
    justify-content: flex-end;
  }
}
.style-six .visual .img-style-one img {
  max-width: 65%;
  margin-bottom: 40px;
}
@media (min-width: 64em) {
  .style-six .visual .img-style-one img {
    margin-bottom: 0;
  }
}
.style-six .visual .text-style-one {
  padding-left: 40px;
  padding-right: 40px;
}
.style-six .visual .img-style-two div {
  display: flex;
}
.style-six .visual .img-style-two div:first-of-type img {
  margin-top: 20px;
  max-width: 40%;
}
@media (min-width: 64em) {
  .style-six .visual .img-style-two div:first-of-type img {
    margin-top: 0;
  }
}
.style-six .visual .img-style-two div:last-of-type {
  justify-content: flex-end;
}
.style-six .visual .img-style-two div:last-of-type img {
  margin-top: -40px;
  max-width: 50%;
}
.style-six .border-top {
  border-top: 1px solid #1a56db;
  padding-top: 3vw;
}
@media (min-width: 85.375em) {
  .style-six .wrap {
    flex-wrap: nowrap;
  }
}
.style-six .info-points {
  padding-bottom: 6vw;
}
.style-six .info-points p {
  margin-bottom: 0;
}
@media (min-width: 48em) {
  .style-six .info-points {
    width: 50%;
    padding-right: 4em;
  }
}
@media (min-width: 85.375em) {
  .style-six .info-points {
    padding-bottom: 0;
    padding-right: 4em;
  }
  .style-six .info-points:last-of-type {
    padding-right: 0;
  }
}
.style-six .info-points h3 {
  margin-bottom: 1em;
}

.faq-wrapper {
  padding-top: 1em;
}
@media (min-width: 64em) {
  .faq-wrapper {
    padding-left: 20vw;
  }
}
.faq-wrapper .accordion-item {
  border-bottom: 1px solid #a4cafe;
}
.faq-wrapper .accordion-item:last-of-type {
  border-width: 0;
}
.faq-wrapper .question {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 1em;
  margin-bottom: 1em;
}
.faq-wrapper .question span {
  margin-left: 1em;
  background-color: #2cdcac;
  padding: 10px;
  display: flex;
  border-radius: 100%;
}
.faq-wrapper .question svg {
  transition: all 0.3s ease-in;
  stroke: #fff;
  width: 20px;
  height: 20px;
}
.faq-wrapper .answer {
  display: none;
  overflow: hidden;
  margin-bottom: 1em;
  padding-right: 6vw;
}
.faq-wrapper .open .question svg {
  transform: rotate(-180deg);
}

.dental-implants .style-three,
.dental-crowns .style-three,
.periodontal .style-three {
  flex-direction: column-reverse;
}
@media (min-width: 64em) {
  .dental-implants .style-three,
  .dental-crowns .style-three,
  .periodontal .style-three {
    flex-direction: row;
  }
}

.emergency .max-60 {
  max-width: 100%;
}

.root-canal .style-five.other {
  background-color: #E1EFFE;
}
.root-canal .style-five.other .half.right-align {
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 64em) {
  .root-canal .style-five.other .half.right-align {
    padding-right: 6%;
  }
}
@media (min-width: 64em) {
  .root-canal .style-five.other .half.right-align p {
    margin-top: 0;
    text-align: right;
    max-width: 70%;
  }
}

.footer h2 {
  font-size: 8vw;
}
.footer ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.footer ul li {
  padding-right: 1em;
}
.footer ul li a {
  color: #233876;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}
.footer ul li a:hover {
  color: #2cdcac;
}
@media (min-width: 64em) {
  .footer ul {
    justify-content: space-between;
  }
}
@media (min-width: 64em) {
  .footer .content {
    padding-left: 6vw;
  }
}
.footer .content div p {
  text-transform: uppercase;
  color: #1a56db;
}
.footer .content .mailing-list {
  padding-bottom: 40px;
  border-bottom: 1px solid #D1D5DB;
}
.footer .content .form-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer .content .form-content .forms {
  width: 100%;
  margin-right: 20px;
}
.footer .content .form-content input {
  width: 100%;
  border-width: 0;
  background-color: transparent;
}
.footer .content .form-content .bttn {
  margin-top: 0;
}
.footer .content .form-content .bttn p {
  font-weight: bold;
  color: #233876;
}
.footer .logo img {
  max-width: 150px;
}
.footer ul li a svg {
  margin-left: 20px;
}

/*# sourceMappingURL=styles.css.map */
