<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
<head>
    {% block head %}
      <meta charset="utf-8"/>
      <title>{{ docTitle ?? siteName }}</title>
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <meta name="description" content="{{ metaDesc|default('Gentle Dental meta') }}">
      <link rel="icon" href="/uploads/images/gd-favicon.svg" type="image/x-icon" />
      {% do craft.app.view.registerCssFile('@web/assets/styles/styles.css') %}
    {% endblock %}
</head>
{% include '_partials/nav.twig' %}

  
<body {{ attr(bodyAttributes ?? {}) }}>
  {% block content %}{% endblock %}
  
  {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script  src="/assets/js/script.js"></script>
  {% endblock %}
</body>
</html>