{% extends "_layout.twig" %} {% set bodyAttributes ={ class: "homepage" } %} {%
set docTitle = 'Home | Gentle Dental ' %} {% set metaDesc = "Home " %} {% block
content %}

<div class="dark flex-wrap bg-img-svg">
  <div class="half pad-all just-cont-between">
    <h1>Comprehensive exam and x-ray</h1>
    <div>
      <p>
        Regular checkups help you stay on top of cavities and decay. Whether
        you’re new to Gentle Dental or haven’t been to the dentist for a while,
        we’d love to see you. Book your check up today. 
      </p>
      {% include '_partials/button.twig' %}
    </div>
  </div>

  <div class="half pad-sides pad-top img-align-end">
    <img src="/uploads/images/gd-placeholder.png" alt="" />
  </div>
</div>

<div class="flex-wrap">
  <div class="half pad-sides pad-top sm-bg-img-svg bg-500 img-align-end">
    <img src="/uploads/images/gd-placeholder.png" alt="" />
  </div>
  <div class="half pad-all bg-100 just-cont-center">
    <h2>New patient exam special $55</h2>
    <p class="intro">
      Regular checkups are a great way to look after your teeth. At Gentle
      Dental, our checkups begin with a friendly chat about your teeth.
    </p>
    <p>
      Regular checkups help you stay on top of cavities and decay. Whether
      you’re new to Gentle Dental or haven’t been to the dentist for a while,
      we’d love to see you. Book your check up today. 
    </p>
  </div>
</div>

<div class="flex-wrap bg-50 pad-top pad-btm">
  <div class="half pad-sides cont-align-end">
    <h2>Comprehensive exam and x-ray</h2>
    <p class="intro">
      Regular checkups are a great way to look after your teeth. At Gentle
      Dental, our checkups begin with a friendly chat about your teeth.
    </p>
    <p>
      Regular checkups help you stay on top of cavities and decay. Whether
      you’re new to Gentle Dental or haven’t been to the dentist for a while,
      we’d love to see you. Book your check up today. 
    </p>
  </div>

  <div class="half pad-sides no-left grow-60">
    <img src="/uploads/images/placeholder-4.png" alt="" />
  </div>
</div>

<div class="dark flex-wrap bg-700">
  <div class="pad-all pad-lg align-items-center text-center">
    <h2>Comprehensive exam and x-ray</h2>
    <div class="pad-top pad-btm">
      <img src="/uploads/images/placeholder3.png" alt="" />
    </div>
    <p>
      Regular checkups help you stay on top of cavities and decay. Whether
      you’re new to Gentle Dental or haven’t been to the dentist for a while,
      we’d love to see you. Book your check up today. 
    </p>
  </div>
</div>

<div class="dark pad-all">
  <div class="underlined-heading">
    <h2 class="max-60">What to expect at your check up</h2>
  </div>

  <div class="flex-wrap">
    <div class="pad-all half">
      <img src="/uploads/images/placeholder-5.jpeg" alt="" />
    </div>

    <div class="pad-top pad-btm half flex-wrap wrap num-point w-33">
      <div class="">
        <p class="num-heading">01</p>
        <p>Regular checkups help you stay on top of cavities and decay.</p>
      </div>
      <div class="">
        <p class="num-heading">02</p>
        <p>Regular checkups help you stay on top of cavities and decay.</p>
      </div>
      <div class="">
        <p class="num-heading">03</p>
        <p>Regular checkups help you stay on top of cavities and decay.</p>
      </div>
      <div class="">
        <p class="num-heading">04</p>
        <p>Regular checkups help you stay on top of cavities and decay.</p>
      </div>
      <div class="">
        <p class="num-heading">05</p>
        <p>Regular checkups help you stay on top of cavities and decay.</p>
      </div>
    </div>
  </div>
</div>


<div class="pad-all bg-100">
  <div class="underlined-heading">
    <h2>Frequently Asked Questions</h2>
  </div>

    {% set posts = craft.entries().section('faqExamXRay').all() %}
    <div class="faq-wrapper">
      {% for post in posts %}
        <div class="accordion-item {{ loop.first ? 'open' : '' }}">
            <h3 class='question'>{{post.title}}  
                <span> 
                    <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 20 11" fill="none">
                        <path d="M1 1L10 10L19 1"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </span>
            </h3>
            <div class="answer">{{post.faqAnswer}}</div>
        </div>
    {% endfor %}




{% endblock %}

